{% extends 'base.html' %}


{% block container %}


  <div class="card-group">
  <div id="cardProdutos" class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <p class="card-text">Produtos</p>
    </div>
  </div>

  <div id="cardEntradaSaida" class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <p>Entrada/Saida</p>
    </div>
  </div>

</div>


  <script>
    document.getElementById("cardProdutos").onclick = function() {
      window.location.href = "{% url 'home_produtos' %}";
    };

    document.getElementById("cardEntradaSaida").onclick = function() {
      window.location.href = "{% url 'home_historicos' %}";
    };
  </script>
    

{% endblock container %}



